﻿@{
    ViewBag.Title = "Inicio";
}

<h2>Pozo</h2>
<table>
    <thead>
        <tr>
            <th>nombre</th>
            <th>propietario</th>
            <th>ubicaion</th>
             <th>norte </th>
             <th>este</th>
        </tr>
    </thead>   
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Propietario</td>
                <td>@item.Ubicacion</td>
                <td>@item.CordenadaEste</td>
                <td>@item.CordenadaNore</td>
            </tr>
        }
    </tbody>
</table>
